/*!
 * Start Bootstrap - Portfolio v4.0.0-beta ()
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/charlottevdscheun/blob/master/LICENSE)
 */
html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif'; }

a {
  color: #ffdc49;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
  a:hover, a:focus {
    color: #ffd216; }

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1); }

hr.light {
  border-color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px; }

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px; }

section {
  padding: 100px 0; }
  section h2 {
    font-size: 50px; }

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px; }
  #mainNav .navbar-brand {
    color: #ffdc49;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px; }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: #ffd216; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222; }
  #mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase; }
    #mainNav .navbar-nav > li > a.active {
      color: #ffdc49 !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li > a.active:hover {
        background-color: transparent; }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222; }
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: #ffdc49; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: fade(white, 70%); }
        #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
          color: white; }
      #mainNav .navbar-nav > li > a,
      #mainNav .navbar-nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li > a:hover,
        #mainNav .navbar-nav > li > a:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.1);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
            color: #ffdc49; }
        #mainNav.navbar-shrink .navbar-nav > li > a,
        #mainNav.navbar-shrink .navbar-nav > li > a:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li > a:hover,
          #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
            color: #ffdc49; } }

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: linear-gradient(270deg, #ffcd00, #ff9400, #ff5c00, #ff0000, #ff0058, #ff00b2, #ff00b2);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; }
  header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center; }
    header.masthead .header-content h1 {
      font-size: 30px; }
  header.masthead .logo-container {
    max-width: 200px;
    max-height: 200px;
    margin-right: auto;
    margin-left: auto; }
    header.masthead .logo-container img {
      width: 30vh;
      border-radius: 3px; }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0; }
      header.masthead .header-content {
        margin-bottom: 0;
        text-align: left; }
        header.masthead .header-content h1 {
          font-size: 50px; }
      header.masthead .device-container {
        max-width: 325px; } }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

section#vr-phone {
  position: relative;
  padding: 0 0;
  width: 100%;
  color: white;
  visibility: hidden;
  display: none;
  height: auto;
  margin: 0; }
  section#vr-phone .container {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 20px; }
    section#vr-phone .container h2 {
      padding-top: 20px; }
  section#vr-phone .title-vr {
    background-color: black; }
    section#vr-phone .title-vr p {
      padding: 15px; }



@media screen and (max-width: 600px) {
  section.design {
    padding: 30px; }
  section#vr {
    visibility: hidden;
    display: none; }
  section#vr-phone {
    visibility: visible;
    display: block; }
  section.design {
    margin-left: 20px;
    margin-right: 5%; }
  section.iframe-phone {
    visibility: visible; } }

body {
  background: url("../img/bg-pattern.png"), white;
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, white, white);
  background: url("../img/bg-pattern.png"), linear-gradient(to left, white, white); }

section.design {
  margin: auto;
  max-width: 100vh;
  position: relative;
  z-index: 2;
  width: h2;
  padding-bottom: 50px;
  padding-top: 50px; }
  section.design h2 {
    text-align: center;
    color: #db2363; }
  @media (min-width: 100vh) {
    section.design h2 {
      font-size: 70px; } }

.img-c {
  width: 25vh;
  height: 25vh;
  float: left;
  position: relative;
  overflow: hidden; }

.img-w {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform ease-in-out 300ms; }

.img-w img {
  display: none; }

.img-c {
  transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms; }

.img-c:hover .img-w {
  transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms; }

.img-c.active {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 2; }

.img-c.postactive {
  position: absolute;
  z-index: 2;
  pointer-events: none; }

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/header-bg.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  section.cta .cta-content {
    position: relative;
    z-index: 1; }
    section.cta .cta-content h2 {
      font-size: 50px;
      max-width: 450px;
      margin-top: 0;
      margin-bottom: 25px;
      color: white; }
    @media (min-width: 768px) {
      section.cta .cta-content h2 {
        font-size: 80px; } }
  section.cta .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

section.skills {
  text-align: center;
  background: url("../img/bg-pattern.png"), white !important;
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, white, white) !important;
  background: url("../img/bg-pattern.png"), linear-gradient(to left, white, white); }
  section.skills li {
    margin-left: 10px;
    margin-bottom: 10px; }

section.contact {
  text-align: center;
  background-color: #f7adcd;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden; }
  section.contact h2 {
    color: white;
    margin-top: 0;
    margin-bottom: 25px; }
  section.contact i {
    color: white; }
  section.contact ul.list-social {
    margin-bottom: 0; }
    section.contact ul.list-social li a {
      font-size: 40px;
      line-height: 80px;
      display: block;
      width: 80px;
      height: 80px;
      color: white;
      border-radius: 100%; }
    section.contact ul.list-social li.social-linkedin a {
      background-color: #0077B5; }
      section.contact ul.list-social li.social-linkedin a:hover {
        background-color: #00669c; }
    section.contact ul.list-social li.social-facebook a {
      background-color: #3b5998; }
      section.contact ul.list-social li.social-facebook a:hover {
        background-color: #344e86; }
    section.contact ul.list-social li.social-instagram a {
      background-color: #C11468; }
      section.contact ul.list-social li.social-instagram a:hover {
        background-color: #aa125c; }
    section.contact ul.list-social li.social-phone a {
      background-color: #25D366; }
      section.contact ul.list-social li.social-phone a:hover {
        background-color: #21bd5c; }
    section.contact ul.list-social li.social-envelope a {
      background-color: #d91616; }
      section.contact ul.list-social li.social-envelope a:hover {
        background-color: #c21414; }

.heart {
  position: absolute;
  top: -50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -m-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.heart:before {
  position: absolute;
  top: -50%;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%; }

.heart:after {
  position: absolute;
  top: 0;
  right: -50%;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%; }

@-webkit-keyframes love {
  0% {
    top: 110%; } }

@-moz-keyframes love {
  0% {
    top: 110%; } }

@-ms-keyframes love {
  0% {
    top: 110%; } }

@keyframes love {
  0% {
    top: 110%; } }

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222; }
  footer p {
    font-size: 12px;
    margin: 0; }
  footer ul {
    margin-bottom: 0; }
    footer ul li a {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.3); }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
        text-decoration: none; }

.bg-primary {
  background: #ffdc49;
  background: -webkit-linear-gradient(#ffdc49, #ffd730);
  background: linear-gradient(#ffdc49, #ffd730); }

.text-primary {
  color: #ffdc49; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #ffdc49;
    background-color: #ffdc49; }

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase; }

.btn-xl {
  font-size: 11px;
  padding: 15px 45px; }
