// Styling for the download section
section.contact {
    text-align: center;
    background-color: #f7adcd;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    h2 {
        color: white;
        margin-top: 0;
        margin-bottom: 25px;
    }
    i {
        color: white;
    }
    ul.list-social {
        margin-bottom: 0;
        li {
            a {
                font-size: 40px;
                line-height: 80px;
                display: block;
                width: 80px;
                height: 80px;
                color: white;
                border-radius: 100%;
            }
            &.social-linkedin {
                a {
                    background-color: $brand-linkedin;
                    &:hover {
                        background-color: darken($brand-linkedin, 5%);
                    }
                }
            }
            &.social-facebook {
                a {
                    background-color: $brand-facebook;
                    &:hover {
                        background-color: darken($brand-facebook, 5%);
                    }
                }
            }
            &.social-instagram {
                a {
                    background-color: $brand-instagram;
                    &:hover {
                        background-color: darken($brand-instagram, 5%);
                    }
                }
            }
            &.social-phone {
                a {
                    background-color: $brand-phone;
                    &:hover {
                        background-color: darken($brand-phone, 5%);
                    }
                }
            }
            &.social-envelope {
                a {
                    background-color: $brand-envelope;
                    &:hover {
                        background-color: darken($brand-envelope, 5%);
                    }
                }
            }
        }
    }
}

.heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

@-webkit-keyframes love {
    0% {
        top: 110%
    }
}

@-moz-keyframes love {
    0% {
        top: 110%
    }
}

@-ms-keyframes love {
    0% {
        top: 110%
    }
}

@keyframes love {
    0% {
        top: 110%
    }
}
