// Styling for the call to action section
section.cta {
    position: relative;
    padding: 250px 0;
    background-image: url('../img/header-bg.jpg');
    background-position: center;
    @include background-cover;
    .cta-content {
        position: relative;
        z-index: 1;
        h2 {
            font-size: 50px;
            max-width: 450px;
            margin-top: 0;
            margin-bottom: 25px;
            color: white;
        }
        @media (min-width: 768px) {
            h2 {
                font-size: 80px;
            }
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: fade-out(black, .5);
    }
}

section.skills {
    text-align: center;
    background: url('../img/bg-pattern.png'), white !important;
    background: url('../img/bg-pattern.png'), -webkit-linear-gradient(to left, white, white) !important;
    background: url('../img/bg-pattern.png'), linear-gradient(to left, white, white);
    li {
        margin-left: 10px;
        margin-bottom: 10px;
    }
}
