body {
    background: url('../img/bg-pattern.png'), white;
    background: url('../img/bg-pattern.png'), -webkit-linear-gradient(to left, white, white);
    background: url('../img/bg-pattern.png'), linear-gradient(to left, white, white);
}

section.design {
    margin: auto;
    max-width: 100vh;
    position: relative;
    z-index: 2;
    width: h2;
    padding-bottom: 50px;
    padding-top: 50px;
    h2 {
        text-align: center;
        color: $theme-secondary;
    }
    @media(min-width: 100vh) {
        h2 {
            font-size: 70px;
        }
    }
}

.img-c {
    width: 25vh;
    height: 25vh;
    float: left;
    position: relative;
    overflow: hidden;
}

.img-w {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform ease-in-out 300ms;
}

.img-w img {
    display: none;
}

.img-c {
    transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

.img-c:hover .img-w {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-c.active {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 2;
    //transform: translateX(-50%);
}

.img-c.postactive {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}
