// Variables
// Gray and Brand Colors for use across theme
$theme-primary: #ffdc49;
$theme-secondary: #db2363;
$theme-tertiary: #ffa719;
$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%); // #333
$gray: lighten($gray-base, 33.5%); // #555
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee
$brand-twitter: #1da1f2;
$brand-facebook: #3b5998;
$brand-facebook2: rgba(59, 89, 152, 0.75);
$brand-linkedin: #0077B5;
$brand-instagram: #C11468;
$brand-phone: #25D366;
$brand-phone2: rgba(37, 211, 102, 0.75);
$brand-envelope: #d91616;
$brand-envelope2: rgba(217, 22, 22, 0.75);
$brand-google-plus: #dd4b39;
