// Styling for the download section
section#vr-phone {
    position: relative;
    padding: 0 0;
    width: 100%;
    .container {
        background: rgba(0, 0, 0, 0.5);
        padding-top: 20px;
        h2 {
            padding-top: 20px;
        }
    }
    color: white;
    visibility:hidden;
    display: none;
    height:auto;
    margin:0;
    .title-vr {
        p {
            padding: 15px;
        }
        background-color: black;
    }
}

section#vr {
    position: relative;
    padding: 0 0;
    width: 100%;
    h2 {
        font-size: 50px;
        color: white;
        margin-top: 0;
    }
    p {
        color: white;
    }
    .container {
        .row {
            z-index: 3;
            background: rgbs(255, 255, 255, 0.3);
        }
        height: 200px;
    }
    .vr-text {
        background: rgba(0, 0, 0, 0.3);
        padding-top: 20px;
    }
    .badges {
        .badge-link {
            display: block;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 100px;
            }
            @media(min-width: 10vh) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    .iframeVR {
        z-index: -100;
        margin-top: -200px;
    }
    @media(min-width: 100vh) {
        h2 {
            font-size: 70px;
        }
    }
}

section.iframe-phone {
    visibility: hidden;
    margin: 0 !important;
}

@media screen and (max-width: 600px) {
    section.design {
        padding: 30px;
    }
    section#vr {
        visibility: hidden;
        display: none;
    }
    section#vr-phone {
        visibility: visible;
        display: block;
    }
    section.design {
        margin-left: 20px;
        margin-right: 5%;
    }
    section.iframe-phone {
        visibility: visible;
    }
}
